@model IEnumerable<PortalWeb2019.Models.Valoracion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Identificador }) |
            @Html.ActionLink("Details", "Details", new { id=item.Identificador }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Identificador })
        </td>
    </tr>
}

</table>
