@model PortalWeb2019.Models.VisitaTuristica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VisitaTuristica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recorrido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recorrido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaIni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracionEstimada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracionEstimada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.excepciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.excepciones)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.visitaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
