@model IEnumerable<PortalWeb2019.Models.VisitaTuristica>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recorrido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaIni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracionEstimada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.excepciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recorrido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaIni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracionEstimada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.excepciones)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.visitaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.visitaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.visitaId })
        </td>
    </tr>
}

</table>
