@model PortalWeb2019.Models.Concierto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Concierto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CantanteGrupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantanteGrupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasSemana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasSemana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RangoFechas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RangoFechas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DuracionEstimada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuracionEstimada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioMed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioMed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescPrecios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescPrecios)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConciertoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
